.u-section-1 .u-sheet-1 {
  min-height: 1471px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 85px;
  margin: 525px auto 0 528px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 0px;
}

.u-section-1 .u-list-2 {
  grid-template-rows: repeat(1, auto);
  width: 1149px;
  margin: -320px auto 60px -9px;
}

.u-section-1 .u-repeater-2 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 1149px;
  grid-gap: 30px;
}

.u-section-1 .u-list-item-1 {
  background-image: linear-gradient(white, #4c7397);
  box-shadow: 0 -2px 8px 0 rgba(128,128,128,1);
  animation-duration: 2500ms;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-1 .u-image-1 {
  width: 141px;
  height: 141px;
  background-image: url("images/chemistry-icon-png-favpng-Sg1A7Y6pvdeFr18UXrs4nvWBD.jpg");
  background-position: 50% 50%;
  margin: 65px auto 0 101px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  width: 276px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  width: 275px;
  font-size: 1rem;
  margin: 31px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 31px auto 0 88px;
}

.u-section-1 .u-list-item-2 {
  background-image: linear-gradient(white, #4c7397);
  box-shadow: 0 -2px 8px 0 rgba(128,128,128,1);
  animation-duration: 2500ms;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-1 .u-image-2 {
  width: 141px;
  height: 141px;
  background-image: url("images/a6c8183e9e.svg.svg");
  background-position: 50% 50%;
  margin: 65px auto 0 101px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  width: 276px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  width: 275px;
  font-size: 1rem;
  margin: 31px auto 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 31px auto 0 88px;
}

.u-section-1 .u-list-item-3 {
  background-image: linear-gradient(white, #4c7397);
  box-shadow: 0 -2px 8px 0 rgba(128,128,128,1);
  animation-duration: 2500ms;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-1 .u-image-3 {
  width: 141px;
  height: 141px;
  background-image: url("images/943666.png");
  background-position: 50% 50%;
  margin: 65px auto 0 101px;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  width: 276px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  width: 275px;
  font-size: 1rem;
  margin: 31px auto 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 31px auto 0 88px;
}

.u-section-1 .u-list-item-4 {
  background-image: linear-gradient(white, #4c7397);
  box-shadow: 0 -2px 8px 0 rgba(128,128,128,1);
  animation-duration: 2500ms;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 0 30px;
}

.u-section-1 .u-image-4 {
  width: 141px;
  height: 141px;
  background-image: url("images/Circle-icons-computer.svg.png");
  background-position: 50% 50%;
  margin: 65px auto 0 101px;
}

.u-section-1 .u-text-7 {
  font-size: 1.5rem;
  width: 276px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-8 {
  font-style: italic;
  width: 275px;
  font-size: 1rem;
  margin: 31px auto 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 31px auto 0 88px;
}

.u-section-1 .u-list-item-5 {
  background-image: linear-gradient(white, #4c7397);
  box-shadow: 0 -2px 8px 0 rgba(128,128,128,1);
  animation-duration: 2500ms;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 0 30px;
}

.u-section-1 .u-image-5 {
  width: 141px;
  height: 141px;
  background-image: url("images/236-2366782_registration-for-under-graduate-graduates-icon-png-transparent.png");
  background-position: 50% 50%;
  margin: 65px auto 0 101px;
}

.u-section-1 .u-text-9 {
  font-size: 1.5rem;
  width: 276px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-10 {
  font-style: italic;
  width: 275px;
  font-size: 1rem;
  margin: 31px auto 0;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 31px auto 0 88px;
}

.u-section-1 .u-list-item-6 {
  background-image: linear-gradient(white, #4c7397);
  box-shadow: 0 -2px 8px 0 rgba(128,128,128,1);
  animation-duration: 2500ms;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 0 30px;
}

.u-section-1 .u-image-6 {
  width: 141px;
  height: 141px;
  background-image: url("images/1200px-Calculator_icon.svg.png");
  background-position: 50% 50%;
  margin: 65px auto 0 101px;
}

.u-section-1 .u-text-11 {
  font-size: 1.5rem;
  width: 276px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-12 {
  font-style: italic;
  width: 275px;
  font-size: 1rem;
  margin: 31px auto 0;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 31px auto 0 88px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1212px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-1 .u-list-2 {
    width: 951px;
    margin: -436px -11px 50px auto;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 1073px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
    margin-left: 66px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 24px;
    margin-right: 0;
    margin-left: 15px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 39px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 53px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 0;
    margin-left: 66px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 24px;
    margin-right: 0;
    margin-left: 15px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 39px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 53px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 0;
    margin-left: 66px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 24px;
    margin-right: 0;
    margin-left: 15px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 39px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 53px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 30px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 0;
    margin-left: 66px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 24px;
    margin-right: 0;
    margin-left: 15px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 39px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 53px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 30px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 0;
    margin-left: 66px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 24px;
    margin-right: 0;
    margin-left: 15px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 39px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 53px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 30px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 0;
    margin-left: 66px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: 24px;
    margin-right: 0;
    margin-left: 15px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 39px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 53px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1668px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-1 .u-list-2 {
    width: 659px;
    margin: -424px auto 35px 11px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 1532px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 20px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 1px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    width: 166px;
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 13px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 59px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 20px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 1px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    width: 166px;
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 13px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 59px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 20px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 1px;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    width: 166px;
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 13px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 59px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 20px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 1px;
    margin-left: auto;
  }

  .u-section-1 .u-text-7 {
    width: 166px;
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 13px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 59px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 20px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 1px;
    margin-left: auto;
  }

  .u-section-1 .u-text-9 {
    width: 166px;
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 13px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 59px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 20px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 1px;
    margin-left: auto;
  }

  .u-section-1 .u-text-11 {
    width: 166px;
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: 13px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 59px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1666px;
  }

  .u-section-1 .u-list-1 {
    margin-left: 455px;
  }

  .u-section-1 .u-list-2 {
    margin-top: -495px;
    margin-bottom: 40px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 1596px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 13px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 44px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 13px;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 44px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: 13px;
  }

  .u-section-1 .u-text-6 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 44px;
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: 13px;
  }

  .u-section-1 .u-text-8 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 44px;
    margin-left: auto;
  }

  .u-section-1 .u-image-5 {
    margin-top: 13px;
  }

  .u-section-1 .u-text-10 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 44px;
    margin-left: auto;
  }

  .u-section-1 .u-image-6 {
    margin-top: 13px;
  }

  .u-section-1 .u-text-12 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 44px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3026px;
  }

  .u-section-1 .u-list-1 {
    margin-left: 255px;
  }

  .u-section-1 .u-list-2 {
    width: 316px;
    margin: -501px auto 24px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
    min-height: 2978px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 24px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 24px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 24px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 24px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 24px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 24px;
  }
}.u-section-2 {
  background-image: linear-gradient(#f2f2f2, #77aad9);
}

.u-section-2 .u-sheet-1 {
  min-height: 423px;
}

.u-section-2 .u-text-1 {
  animation-duration: 1000ms;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 67px auto 0 -15px;
}

.u-section-2 .u-text-2 {
  animation-duration: 1000ms;
  font-size: 3rem;
  font-weight: 700;
  margin: -82px 459px 0 415px;
}

.u-section-2 .u-image-1 {
  width: 185px;
  height: 185px;
  animation-duration: 1000ms;
  margin: -72px 274px 0 auto;
}

.u-section-2 .u-image-2 {
  width: 207px;
  height: 207px;
  animation-duration: 1000ms;
  margin: -187px -23px 0 auto;
}

.u-section-2 .u-text-3 {
  animation-duration: 1000ms;
  font-size: 1.5rem;
  margin: -73px 468px 0 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  animation-duration: 1000ms;
  font-size: 1.25rem;
  margin: 25px 261px 0 668px;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -24px -23px 0 980px;
}

.u-section-2 .u-btn-1 {
  margin: -15px auto 0 43px;
}

.u-section-2 .u-text-6 {
  animation-duration: 1000ms;
  margin: -13px 327px 0 734px;
}

.u-section-2 .u-text-7 {
  margin: -37px 0 39px 1020px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 411px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 26px;
    margin-left: 293px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -62px;
    margin-right: 120px;
    margin-left: 554px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -7px;
    margin-right: auto;
    margin-left: -14px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -196px;
    margin-right: 18px;
  }

  .u-section-2 .u-text-3 {
    width: 491px;
    margin-top: -135px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 27px;
    margin-right: 743px;
    margin-left: -14px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: -35px;
    margin-right: 0;
    margin-left: 740px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 11px;
    margin-left: 351px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: -19px;
    margin-right: 822px;
    margin-left: 39px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: -47px;
    margin-right: 49px;
    margin-left: 771px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 43px;
    margin-left: 90px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -57px;
    margin-right: 185px;
    margin-left: 351px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 105px;
    margin-left: 55px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -215px;
    margin-right: 31px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -264px;
    margin-left: 44px;
    margin-right: 44px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 195px;
    margin-right: 475px;
    margin-left: 50px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -50px;
    margin-right: 20px;
    margin-left: 500px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 47px;
    margin-left: auto;
  }

  .u-section-2 .u-text-6 {
    margin-top: -52px;
    margin-right: 538px;
    margin-left: 103px;
  }

  .u-section-2 .u-text-7 {
    margin: -14px 90px 46px 510px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 634px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: -58px;
    margin-right: -165px;
    margin-left: 255px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 165px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: -196px;
    margin-right: 43px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -335px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 231px;
    margin-right: 345px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: -24px;
    margin-right: 39px;
    margin-left: 301px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 54px;
    margin-left: 151px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -87px;
    margin-right: 408px;
    margin-left: 53px;
  }

  .u-section-2 .u-text-7 {
    margin: -31px 71px 60px 349px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 554px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 38px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
    margin-top: -42px;
    margin-right: 0;
    margin-left: 213px;
  }

  .u-section-2 .u-image-1 {
    width: 153px;
    height: 153px;
    margin-top: 183px;
  }

  .u-section-2 .u-image-2 {
    width: 168px;
    height: 168px;
    margin-top: -153px;
    margin-right: -13px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -332px;
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.125rem;
    margin-top: 206px;
    margin-right: 178px;
    margin-left: -9px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.125rem;
    margin-top: -20px;
    margin-right: -21px;
    margin-left: 192px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 49px;
    margin-left: 67px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -90px;
    margin-right: 229px;
    margin-left: 32px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -26px;
    margin-right: 0;
    margin-left: 220px;
  }
}.u-section-3 {
  background-image: linear-gradient(#e9f2fa, #adcce9);
}

.u-section-3 .u-sheet-1 {
  min-height: 448px;
}

.u-section-3 .u-image-1 {
  width: 197px;
  height: 197px;
  animation-duration: 1000ms;
  margin: 57px auto 0 -16px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  animation-duration: 1000ms;
  font-weight: 700;
  margin: -192px 91px 0 301px;
}

.u-section-3 .u-text-2 {
  margin: 133px 934px 0 -27px;
}

.u-section-3 .u-text-3 {
  margin: -26px 873px 0 35px;
}

.u-section-3 .u-text-4 {
  animation-duration: 1000ms;
  font-size: 1.5rem;
  margin: -172px 35px 0 293px;
}

.u-section-3 .u-btn-1 {
  margin: 35px auto 60px 418px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 50px;
    margin-left: 23px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: -188px;
    margin-right: 0;
    margin-left: 294px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 140px;
    margin-right: 703px;
    margin-left: 6px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -21px;
    margin-right: 634px;
    margin-left: 74px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    font-size: 1.25rem;
    margin-top: -181px;
    margin-right: -30px;
    margin-left: 258px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 34px;
    margin-bottom: 33px;
    margin-left: 354px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 265px;
    margin-left: 86px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -438px;
    margin-right: -50px;
    margin-left: 73px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 194px;
    margin-right: 128px;
    margin-left: 360px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -17px;
    margin-right: 228px;
    margin-left: 428px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -237px;
    margin-left: 42px;
    margin-right: 42px;
  }

  .u-section-3 .u-btn-1 {
    margin: 119px 181px 56px auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 518px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 263px;
    margin-left: -11px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -436px;
    margin-left: -18px;
    margin-right: -18px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 276px;
    margin-right: 86px;
    margin-left: 222px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -28px;
    margin-right: 183px;
    margin-left: 293px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -320px;
    margin-right: 11px;
    margin-left: -11px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 163px;
    margin-right: 125px;
    margin-bottom: 47px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-3 .u-image-1 {
    width: 171px;
    height: 171px;
    margin-top: 329px;
    margin-left: -25px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -463px;
    margin-right: -87px;
    margin-left: -11px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 313px;
    margin-right: -18px;
    margin-left: 126px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -14px;
    margin-right: 86px;
    margin-left: 190px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.125rem;
    margin-top: -357px;
    margin-right: 13px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin: 196px auto 28px 74px;
  }
}.u-section-4 {
  background-image: linear-gradient(#e9f2fa, #77aad9);
}

.u-section-4 .u-sheet-1 {
  min-height: 414px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  animation-duration: 1000ms;
  margin: 15px 498px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  animation-duration: 1000ms;
  margin: 20px 434px 0 0;
}

.u-section-4 .u-image-1 {
  width: 271px;
  height: 271px;
  animation-duration: 1000ms;
  margin: -244px 64px 0 auto;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 5px auto 32px 109px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 397px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 16px;
    margin-right: 298px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 234px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -271px;
    margin-right: 12px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 32px;
    margin-bottom: 16px;
    margin-left: 167px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 17px;
    margin-right: 78px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 171px;
  }

  .u-section-4 .u-image-1 {
    width: 166px;
    height: 166px;
    margin-top: -259px;
    margin-right: 16px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 114px;
    margin-bottom: 17px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 542px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    margin-top: -442px;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 297px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.125rem;
    margin-right: 17px;
  }

  .u-section-4 .u-image-1 {
    width: 83px;
    height: 83px;
    margin-top: -342px;
    margin-right: 26px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 285px;
    margin-bottom: 27px;
    margin-left: -2px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 462px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  animation-duration: 1000ms;
  margin: 32px 310px 0 257px;
}

.u-section-5 .u-group-1 {
  width: 377px;
  min-height: 298px;
  background-image: none;
  margin: 27px auto 0 -40px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-5 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 2.25rem;
  animation-duration: 1000ms;
  margin: 20px 0 0;
}

.u-section-5 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 20px 0 0 auto;
}

.u-section-5 .u-group-2 {
  width: 375px;
  min-height: 305px;
  background-image: none;
  margin: -298px auto 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 11px auto 0 22px;
}

.u-section-5 .u-text-3 {
  font-size: 2.25rem;
  animation-duration: 1000ms;
  margin: -38px 13px 0;
}

.u-section-5 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: -26px 14px -38px auto;
}

.u-section-5 .u-group-3 {
  width: 371px;
  min-height: 314px;
  background-image: none;
  margin: -305px -26px 32px auto;
}

.u-section-5 .u-container-layout-3 {
  padding: 8px 0 0;
}

.u-section-5 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 30px;
}

.u-section-5 .u-text-4 {
  font-size: 2.25rem;
  animation-duration: 1000ms;
  margin: 14px 23px 0 37px;
}

.u-section-5 .u-icon-6 {
  width: 64px;
  height: 64px;
  margin: 27px 30px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 880px;
  }

  .u-section-5 .u-text-1 {
    width: 573px;
    margin-left: 157px;
    margin-right: 210px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 54px;
    margin-left: 22px;
  }

  .u-section-5 .u-group-2 {
    margin-top: -305px;
    margin-right: 59px;
  }

  .u-section-5 .u-group-3 {
    margin: 70px auto 54px 258px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1196px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 34px;
    margin-right: 103px;
    margin-left: 44px;
  }

  .u-section-5 .u-group-1 {
    min-height: 304px;
    margin-top: 38px;
    margin-left: 161px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-5 .u-icon-2 {
    margin-top: 24px;
    margin-left: 253px;
  }

  .u-section-5 .u-group-2 {
    margin-top: 55px;
    margin-right: auto;
    margin-left: 161px;
  }

  .u-section-5 .u-group-3 {
    margin-top: 44px;
    margin-bottom: 43px;
    margin-left: 161px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1164px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-group-1 {
    margin-right: 69px;
    margin-left: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-group-2 {
    margin-top: 34px;
    margin-right: 70px;
    margin-left: auto;
  }

  .u-section-5 .u-group-3 {
    margin: 30px 70px 47px auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-group-2 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-icon-4 {
    margin-right: 8px;
  }

  .u-section-5 .u-group-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-4 {
    margin-left: 22px;
    margin-right: 8px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 524px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  margin: 49px auto 0 406px;
}

.u-section-6 .u-form-1 {
  height: 327px;
  margin: 61px 145px 0 425px;
}

.u-section-6 .u-form-group-3 {
  margin-bottom: 0;
}

.u-section-6 .u-form-group-4 {
  margin-top: 20px;
}

.u-section-6 .u-text-2 {
  font-weight: 400;
  margin: -342px 868px 0 88px;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  border-style: none;
  margin: 167px auto 0 61px;
  padding: 0;
}

.u-section-6 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: -170px auto 0 88px;
}

.u-section-6 .u-icon-2 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-6 .u-icon-3 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-6 .u-icon-4 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-6 .u-text-3 {
  font-size: 1rem;
  margin: 71px auto 0 77px;
}

.u-section-6 .u-icon-5 {
  height: 40px;
  width: 40px;
  margin: 71px auto 0 49px;
}

.u-section-6 .u-text-4 {
  margin: -33px auto 60px 101px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-left: 334px;
  }

  .u-section-6 .u-form-1 {
    margin-right: 45px;
    margin-left: 325px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 756px;
    margin-left: 0;
  }

  .u-section-6 .u-btn-2 {
    margin-top: 174px;
    margin-left: 49px;
  }

  .u-section-6 .u-social-icons-1 {
    margin-top: -176px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 62px;
    margin-left: 0;
  }

  .u-section-6 .u-icon-5 {
    margin-top: 80px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 493px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 53px;
    margin-left: 162px;
  }

  .u-section-6 .u-form-1 {
    margin-top: 39px;
    margin-right: -14px;
    margin-left: 195px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: -313px;
    margin-right: 139px;
    margin-left: 11px;
  }

  .u-section-6 .u-btn-2 {
    margin-top: 131px;
    margin-left: 0;
  }

  .u-section-6 .u-social-icons-1 {
    margin-top: -144px;
    margin-left: 11px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 39px;
    margin-left: 11px;
  }

  .u-section-6 .u-icon-5 {
    margin-top: 63px;
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-left: 51px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 539px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 23px;
    margin-left: 105px;
  }

  .u-section-6 .u-form-1 {
    margin-top: 2px;
    margin-right: 28px;
    margin-left: 63px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 0;
    margin-right: 342px;
    margin-left: 14px;
  }

  .u-section-6 .u-btn-2 {
    margin-top: 0;
    margin-right: 58px;
    margin-left: auto;
  }

  .u-section-6 .u-social-icons-1 {
    margin-top: -9px;
    margin-left: 14px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.125rem;
    margin-top: -81px;
    margin-right: 70px;
    margin-left: auto;
  }

  .u-section-6 .u-icon-5 {
    margin-top: 43px;
    margin-right: 197px;
    margin-left: auto;
  }

  .u-section-6 .u-text-4 {
    margin-right: 58px;
    margin-bottom: 32px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 679px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-6 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-top: -94px;
    margin-right: 25px;
  }

  .u-section-6 .u-icon-5 {
    margin-top: 57px;
    margin-right: 124px;
  }

  .u-section-6 .u-text-4 {
    margin-top: -40px;
    margin-right: 0;
    margin-bottom: 60px;
  }
}